#
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dependencies
*.deps

# Binaries
ipc/network_examples/connection
ipc/network_examples/connectionless
