#
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dependencies
*.deps

# Binaries
processes/main
processes/scanner
processes/robot_carga
processes/puesto_checkin
processes/robot_checkin
processes/robot_despacho
processes/robot_intercargo
db/example
